<div>
  <!-- controls ----------------------------->
  <mat-card >
    <button mat-raised-button class="btnStart"
            *ngIf="state == STATE.PAUSE"
            (click)="startProgram()">
      start program
      <mat-icon>play_arrow</mat-icon>
    </button>

    <button mat-raised-button class="btnStart" style="background-color: #7f7800"
            *ngIf="state == STATE.RUNNING"
            (click)="pauseProgram()">
      pause program
      <mat-icon>pause</mat-icon>
    </button>
  </mat-card>
  <br>


  <!-- sensors ----------------------------->
  <mat-card >
    <mat-card-title>
      OD sensor
    </mat-card-title>

    <!-- {{sensorData | json}} -->

    <!-- chart --->
    <div style="height: 100px">
      <ngx-charts-line-chart
        [view]="[800, 100]"
        [results]="chartData"
        [legend]="true"
        [xAxis]="true"
        [yAxis]="true"
        [xAxisTickFormatting]="this.dateTickFormatting">
      </ngx-charts-line-chart>
    </div>


  </mat-card>
  <br>


  <!-- program ----------------------------->
  <mat-card >
    <mat-card-title>
      Program
    </mat-card-title>

    <h3>Condition</h3>
    Start programm when
    red channel of OdSensor >=
    <mat-form-field>
      <input type="number" matInput placeholder="value">
    </mat-form-field>


    <div class="motorConfig" *ngFor="let step of steps" [class.motorConfigActive]="currentStep === step.id">
      <h3 style="font-style: normal" >Step {{step.id}}   {{currentStep === step.id ? '[running]' : ''}}</h3>
      <mat-form-field>
        <mat-label>Motor</mat-label>
        <mat-select [(value)]="step.motorCommand.motorId" [(ngModel)]="step.motorCommand.motorId">
          <mat-option *ngFor="let motor of motorIds" [value]="motor">
            {{motor}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <mat-form-field>
        <input [(ngModel)]="step.delay.secs" type="number" matInput placeholder="Time delay">
      </mat-form-field>
      <br>

      <mat-form-field>
        <input [(ngModel)]="step.motorCommand.volume" type="number" matInput placeholder="Volume">
      </mat-form-field>
      <br>

    </div>

    <button mat-button color="accent" (click)="save()">Save</button>
    <br>

    <!-- {{steps | json}} -->
  </mat-card>

</div>
