.mat-ok {
  background-color: green;
  color: #fff;
}

div{
  margin: 10px;
}
h1{
  color: #444444;
  font-family: Arial;
}

.motorConfig {
  border: solid 1px #b5b5b5;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

.motorConfigActive {
  border: solid 1px #4c7b1a;
}

.btnStart {
  background-color: darkgreen;
  color: white;
}
