<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Number Column -->
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.number}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Volume Column -->
    <ng-container matColumnDef="volume">
      <th mat-header-cell *matHeaderCellDef> Volume </th>
      <td mat-cell *matCellDef="let element"> {{element.volume}} </td>
    </ng-container>

    <!-- Diameter Column -->
    <ng-container matColumnDef="diameter">
      <th mat-header-cell *matHeaderCellDef> Diameter </th>
      <td mat-cell *matCellDef="let element"> {{element.diameter}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onClickEditElement(row)">
    </tr>
  </table>
  <br>
</div>
<div class="buttondiv">
  <button id="direction" mat-raised-button color="green" (click)="onClickButton()">Add Syringe</button>
</div>
