<div>
  <mat-form-field>
    <mat-label>Comport</mat-label>
    <mat-select [(value)]="selectedPort">
      <mat-option *ngFor="let port of serialPorts" value="{{port.name}}">
        {{port.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput maxlength="5" placeholder="Baudrate" [value]="baudrate" type="number">
  </mat-form-field>

  <button mat-raised-button (click)="connect()">connect</button>


  <br>

  <mat-form-field>
    <input matInput placeholder="Test Msg" [(ngModel)]="testMsg" type="text">
  </mat-form-field>
  <button mat-raised-button (click)="sendTestMsg()">send test message</button>


</div>

