<h1 mat-dialog-title>{{data.modus === 0 ? 'Edit Syringe':'Add Syringe'}}</h1>

<mat-vertical-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Choose an Id</ng-template>
      <mat-form-field>
        <input matInput placeholder="Id must be unique" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Choose a Name</ng-template>
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Set syringe volume</ng-template>
      <mat-form-field>
        <input matInput placeholder="Volume" formControlName="thirdCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fithFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Set syringe diameter</ng-template>
      <mat-form-field>
        <input matInput placeholder="Diameter" formControlName="fithCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>





















<!--<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="data.sysData.number" placeholder="Id">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.sysData.name" placeholder="Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.sysData.volume" placeholder="Volume">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.sysData.diameter" placeholder="Diameter">
  </mat-form-field>
</div>-->
<div mat-dialog-actions>
  <button mat-button (click)="onNoClickCancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="{sysData: data.sysData, delete: true}" *ngIf="data.modus === 0" color="warn">Delete</button>
  <button mat-button [mat-dialog-close]="{sysData: data.sysData, delete: true}" cdkFocusInitial>Ok</button>
</div>
