
@import '~@angular/material/theming';
@include mat-core();


$custom-theme-primary: mat-palette($mat-gray);
$custom-theme-accent:  mat-palette($mat-pink);

$custom-theme-warn:    mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-theme-primary,$custom-theme-accent,$custom-theme-warn);


@include angular-material-theme($custom-theme);
