p {
  font-family: Arial;
}
div{
  margin: 10px;
}
mat-form-field{
  max-width: 90px;
}
h3 {
  font-family: Arial;
}
button{
  margin-right: 10px;
}


.run{
  background-color: green;
  color: #fff;
}
