<div>
  <h3>
    Motor Settings
  </h3>

  <div style="width: 100%" *ngFor="let setting of motorSettings" class="motorSettings">

    <mat-form-field>
      <input matInput placeholder="Motor Id" disabled [(ngModel)]="setting.id" type="number">
    </mat-form-field>
    <!-- <mat-slider min="1" max="100" [(ngModel)]="setting.speed"></mat-slider> -->

    <mat-form-field>
      <input matInput placeholder="Speed" [(ngModel)]="setting.speed" type="number">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Acceleration" [(ngModel)]="setting.acceleration" type="number">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Delta" [(ngModel)]="setting.delta" type="number">
    </mat-form-field>
  </div>

  <button mat-raised-button (click)="sendSettings()" [disabled]="motorSettingsButtonDisabled">Save</button>

  <br>
  <br>
  <br>
  <br>

  <h3>
    Run Motor
  </h3>

  <div style="width: 100%" *ngFor="let run of runMotor" class="motorSettings">

    <mat-form-field>
      <input matInput placeholder="Motor Id" disabled [(ngModel)]="run.id" type="number">
    </mat-form-field>
    <!-- <mat-slider min="1" max="100" [(ngModel)]="setting.speed"></mat-slider> -->

    <mat-form-field>
      <mat-label>Direction</mat-label>
      <mat-select matNativeControl [(ngModel)]="run.direction">
        <mat-option value="F">Forward</mat-option>
        <mat-option value="B">Backward</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Steps" [(ngModel)]="run.steps" type="number">
    </mat-form-field>
  </div>








  <!--
  <mat-form-field>
    <mat-label>Motor id</mat-label>
    <mat-select matNativeControl [(ngModel)]="runMotor.id">
      <mat-option value="{{setting.id}}" *ngFor="let setting of motorSettings">{{setting.id}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Direction</mat-label>
    <mat-select matNativeControl [(ngModel)]="runMotor.direction">
      <mat-option value="F">Forward</mat-option>
      <mat-option value="B">Backward</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Steps" [(ngModel)]="runMotor.steps" type="number">
  </mat-form-field>
  -->
  <br>
  <button mat-raised-button (click)="sendStop()" color="warn" [disabled]="runMotorButtonDisabled">Stop</button>
  <button mat-raised-button (click)="sendRunMotor()" class="run" [disabled]="runMotorButtonDisabled">Run</button>
  <br>
  <br>
  <br>





</div>
