<!--
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Main</a>
      <a mat-list-item routerLink="/livecontrol">Live control</a>
      <a mat-list-item routerLink="/configuration">Configuration</a>
      <a mat-list-item routerLink="/settings">Settings</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">Menu</mat-icon>
      </button>
      <span>Bioreactor</span>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
-->
<mat-toolbar>
  <mat-toolbar-row>
    <span>Bio Reactor</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="openSettings()">
      <mat-icon aria-label="settings">settings_applications</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>
<app-main></app-main>
