.sidenav-container {
  height: 100%;


}

.sidenav {
  width: 200px;
  background-color: #ffffff;

}

.icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}



.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #ffffff;
}
